@model List<RegistroJogoModel>

@foreach (var game in Model)
{
    <div class="card bg-dark text-white border-0 p-0 shadow-lg" style="width: 18rem; border-radius: 20px; overflow: hidden;">
        <a asp-controller="RegistroJogo" asp-action="Index" asp-route-id="@game.ID" class="link-light card-game-link">
            <div class="position-relative">
                <img src="@game.CaminhoImagem" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="position-absolute bottom-0 start-0 w-100 p-3" style="background: linear-gradient(transparent, rgba(0,0,0,0.8));">
                    <h5 class="card-title fw-bold mb-0 text-uppercase tracking-wider" style="text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000;">
                        @game.Titulo
                    </h5>
                </div>
            </div>

            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <i class="bi bi-display me-2 text-secondary"></i>
                    <span class="small text-secondary me-2 text-uppercase fw-semibold">Plataforma:</span>
                    <span class="small fw-bold">@game.Plataforma</span>
                </div>

                <div class="row mb-4 justify-content-center" >
                    <div class="col-6 border-end border-secondary text-center">
                        <span class="d-flex align-items-center mb-1 justify-content-center">
                            <i class="bi bi-clock-history me-2 text-info"></i>
                            <span class="small text-secondary text-uppercase fw-semibold fs-9">Tempo</span>
                        </span>
                        <span class="h5 fw-bold mb-0">@((game.TempoJogadoTotal ?? 0).ToString("N1")) h</span>
                    </div>

                    <div class="col-6 text-center ps-3">
                        <span class="d-flex align-items-center justify-content-center mb-1">
                            <i class="bi bi-check-circle me-2 text-@game.StatusCor"></i>
                            <span class="small text-secondary text-uppercase fw-semibold fs-9">Status</span>
                        </span>
                        <span class="badge rounded-pill bg-@game.StatusCor-soft text-@game.StatusCor border border-@game.StatusCor">@game.StatusTexto</span>
                    </div>
                </div>
            </div>
        </a>
    </div>



}

