@model List<RegistroJogoModel>

@if (Model.Count <= 0)
{
    <h4>Nenhuma jogatina registrada.</h4>
}
else
{
    <table class="gl-table">
        <thead>
            <tr>
                <td class="text-center">Data</td>
                <td class="text-center">Status</td>
                <td class="text-center">Plataforma</td>
                <td class="text-center">Avaliação</td>
                <td class="text-center">Observação</td>
                <td class="text-center">#</td>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var game in Model)
            {
                <tr class="">
                    <td class="text-center">@game.UltimaSessao?.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">@game.StatusTexto</td>
                    <td class="text-center">@game.Plataforma</td>
                    <td class="text-center">
                        <div class="rating"
                             data-nota="@game.Nota"
                             data-bs-toggle="popover"
                             data-bs-trigger="hover focus"
                             data-bs-placement="top"
                             data-readonly="true">
                        </div>
                    </td>
                    <td class="">@game.Obs</td>
                    <td class="text-center">
                        <div class="d-flex gap-1 justify-content-center">
                            <form method="post" asp-action="Deletar" asp-controller="RegistroJogo" asp-route-id="@game.ID" asp-route-JogoID="@game.JogoID">
                                <button type="submit" class="btn btn-danger btn-sm deletar" id="Deletar">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}