@using Z4.Bibliotecas
@model RawgGameDto

@{
    string slug = ManipularModels.GerarSlug(Model.Name);
}

<div class="game-card">
    <a asp-controller="RegistroJogo" asp-action="Index" asp-route-id="@Model.Id" asp-route-slug="@slug" class="game-card__link">
        <div class="game-card__cover">
            <img src="@Model.Background_Image" class="game-card__img">
            <div class="game-card__title-wrap">
                <h3 class="game-card__title">@Model.Name</h3>
            </div>
        </div>

        <div class="game-card__info">

            <hr class="game-card__divider">
            <div class="game-card__stats">
                <div class="game-card__stat">
                    <div class="game-card__stat-header">
                        <span class="game-card__stat-label">Metacritic</span>
                    </div>
                    <span class="d-flex align-items-center justify-content-center mb-1">
                        <i class="bi bi-check-circle me-2 text-@Model.MetacriticCor"></i>
                        <span class="small text-secondary text-uppercase fw-semibold fs-9 text-@Model.MetacriticCor">@Model.Metacritic</span>
                    </span>
                </div>
                <div class="game-card__stats-divider">
                </div>
                <div class="game-card__stat">
                    <div class="game-card__stat-header">
                        <span class="game-card__stat-label">Lançamento</span>
                    </div>
                    <span class="d-flex align-items-center justify-content-center mb-1">
                        <span class="small text-secondary text-uppercase fw-semibold fs-9">@(Model.Released == null ? " " : Model.Released?.ToString("dd/MM/yyyy"))</span>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>


@* <div class="row mb-4 justify-content-center">
    <div class="col-6 border-end border-secondary text-center">
        <span class="d-flex align-items-center mb-1 justify-content-center">
            <i class="bi bi-clock-history me-2 text-info"></i>
            <span class="small text-secondary text-uppercase fw-semibold fs-9">Tempo</span>
        </span>
        <span class="h5 fw-bold mb-0">@tempoDisplay</span>
    </div>

    <div class="col-6 text-center ps-3">
        <span class="d-flex align-items-center justify-content-center mb-1">
            <i class="bi bi-check-circle me-2 text-@Model.StatusCor"></i>
            <span class="small text-secondary text-uppercase fw-semibold fs-9">Status</span>
        </span>
        <span class="badge rounded-pill bg-@Model.StatusCor-soft text-@Model.StatusCor border border-@Model.StatusCor">@Model.StatusTexto</span>
    </div>
</div> *@
@* </div>
</a>
</div> *@
@* 
<div class="game-card bg-dark text-white border-0 p-0 shadow-lg" style="width: 18rem; border-radius: 20px; overflow: hidden;">
    <a asp-controller="RegistroJogo" asp-action="Index" asp-route-id="@Model.ID" class="link-light card-game-link">
        <div class="position-relative">
            <img src="@Model.CaminhoImagem" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="position-absolute bottom-0 start-0 w-100 p-3" style="background: linear-gradient(transparent, rgba(0,0,0,0.8));">
                <h5 class="card-title fw-bold mb-0 text-uppercase tracking-wider" style="text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000;">
                    @Model.Titulo
                </h5>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <i class="bi bi-display me-2 text-secondary"></i>
                <span class="small text-secondary me-2 text-uppercase fw-semibold">Plataforma:</span>
                <span class="small fw-bold">@Model.Plataforma</span>
            </div>

            <div class="row mb-4 justify-content-center">
                <div class="col-6 border-end border-secondary text-center">
                    <span class="d-flex align-items-center mb-1 justify-content-center">
                        <i class="bi bi-clock-history me-2 text-info"></i>
                        <span class="small text-secondary text-uppercase fw-semibold fs-9">Tempo</span>
                    </span>
                    <span class="h5 fw-bold mb-0">@tempoDisplay</span>
                </div>

                <div class="col-6 text-center ps-3">
                    <span class="d-flex align-items-center justify-content-center mb-1">
                        <i class="bi bi-check-circle me-2 text-@Model.StatusCor"></i>
                        <span class="small text-secondary text-uppercase fw-semibold fs-9">Status</span>
                    </span>
                    <span class="badge rounded-pill bg-@Model.StatusCor-soft text-@Model.StatusCor border border-@Model.StatusCor">@Model.StatusTexto</span>
                </div>
            </div>
        </div>
    </a>
</div> *@
