@{
    UsuarioModel usuario = null;
    if (User?.Identity?.IsAuthenticated ?? false)
    {
        usuario = this.User.ObterUsuario();
    }
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamerLog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.rateyo.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/fontawesome/fontawesome.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/fontawesome/solid.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameDB_v3.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;900&family=Share+Tech+Mono&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/gamerlog.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"> 
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-mainblue">
    <header>
        @if (controller != "Home")
        {
            @await Component.InvokeAsync("Navbar")
        }
    </header>
    <div class="container mt-4 mb-5 pb-5 text-light">
        <main role="main" class="py-3 pb-5">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <partial name="_Footer" />

    <script asp-append-version="true" src="~/lib/summernote/summernote-bs5.min.js"></script>
    <script asp-append-version="true" src="~/lib/summernote/summernote-pt-BR.min.js"></script>
    <script asp-append-version="true" src="~/lib/echarts/echarts.min.js"></script>
    <script asp-append-version="true" src="~/lib/echarts/echartsGlobal.js"></script>
    <script asp-append-version="true" src="~/js/graficos/graficos.js"></script>
    <script asp-append-version="true" src="~/lib/fontawesome/fontawesome.min.js"></script>
    <script asp-append-version="true" src="~/lib/fontawesome/solid.min.js"></script>
    <script asp-append-version="true" src="~/lib/font-awesome/js/brands.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.rateyo.min.js"></script> 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="~/js/js-loading-overlay.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/gamerlog.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["ALERT_E"] != null)
    {
        <script>
            Swal.fire({
                title: "Erro",
                text: '@Html.Raw(TempData["ALERT_E"])',
                icon: "error"
            });
        </script>
    }

    @if (TempData["ALERT_S"] != null)
    {
        <script>
            Swal.fire({
                text: '@Html.Raw(TempData["ALERT_S"])',
                icon: "success"
            });
        </script>
    }

    @if (TempData["MSG_E"] != null)
    {
        <script>
            Swal.fire({
                title: "Erro",
                text: '@Html.Raw(TempData["MSG_E"])',
                icon: "error"
            });
        </script>
    }

    @if (TempData["MSG_S"] != null)
    {
        <script>
            Swal.fire({
                text: '@Html.Raw(TempData["MSG_S"])',
                icon: "success"
            });
        </script>
    }

    <script>
        if (request.responseJSON != undefined) {
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        html: request.responseJSON.detail
        });
        }
    </script>


</body>
</html>
